<section class="elementor-element elementor-element-417f4d8 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-id="417f4d8" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;gradient&quot;}">
						<div class="elementor-container elementor-column-gap-default">
				<div class="elementor-row">
				<div class="elementor-element elementor-element-f6e1856 elementor-column elementor-col-50 elementor-top-column" data-id="f6e1856" data-element_type="column">
			<div class="elementor-column-wrap  elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div class="elementor-element elementor-element-426c30a elementor-widget elementor-widget-heading" data-id="426c30a" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<div class="elementor-heading-title elementor-size-default">&copy;2020 Worship Quake Church</div>		</div>
				</div>
				<div class="elementor-element elementor-element-86cc3e1 elementor-widget elementor-widget-text-editor" data-id="86cc3e1" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
					<div class="elementor-text-editor elementor-clearfix"><p> Privacy Policy | <a href="https://www.kubernetsInc.com"> Kurbernets</a></p></div>
				</div>
				</div>
						</div>
			</div>
		</div>
				<div class="elementor-element elementor-element-b50a33b elementor-column elementor-col-50 elementor-top-column" data-id="b50a33b" data-element_type="column">
			<div class="elementor-column-wrap  elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div class="elementor-element elementor-element-15d5d84 elementor-shape-square elementor-widget elementor-widget-social-icons" data-id="15d5d84" data-element_type="widget" data-widget_type="social-icons.default">
				<div class="elementor-widget-container">
					<div class="elementor-social-icons-wrapper">
							<a class="elementor-icon elementor-social-icon elementor-social-icon-facebook elementor-repeater-item-3089845" href="https://www.facebook.com/myRelentlessSC/" target="_blank">
					<span class="elementor-screen-only">Facebook</span>
					<i class="fab fa-facebook"></i>				</a>
							<a class="elementor-icon elementor-social-icon elementor-social-icon-twitter elementor-repeater-item-742670a" href="https://twitter.com/myRelentlessSC" target="_blank">
					<span class="elementor-screen-only">Twitter</span>
					<i class="fab fa-twitter"></i>				</a>
							<a class="elementor-icon elementor-social-icon elementor-social-icon-youtube elementor-repeater-item-6b20125" href="https://www.youtube.com/channel/UClXSntaLQBCgKX9h9aqV9dw" target="_blank">
					<span class="elementor-screen-only">Youtube</span>
					<i class="fab fa-youtube"></i>				</a>
							<a class="elementor-icon elementor-social-icon elementor-social-icon-instagram elementor-repeater-item-8362c01" href="https://www.instagram.com/myrelentlesschurch" target="_blank">
					<span class="elementor-screen-only">Instagram</span>
					<i class="fab fa-instagram"></i>				</a>
					</div>
				</div>
				</div>
						</div>
			</div>
		</div>
						</div>
			</div>
		</section>